@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*link를 사용하는 것 보다 위와 같이 import를 사용하는게 더 좋다.
html에 여러줄의 link를 만들지 않기 위해*/
@import "reset.css";
@import "variables.css";
/*Componets*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/alt-screen-header.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
/*모든 스크린에 적용 되는 font나 background등은 여기다 쓰는게 좋다.*/
body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
